doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/navbar.css")
  body
    nav.navbar
      a.brand(href="#")
        span.brand-badge CR
        span CarRental
      div.nav-links
        a(href="#deals") Deals
        a(href="#locations") Locations
        a(href="#support") Support
        a.cta(href="#book") Book a Ride

