doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Velocity Rentals | Navbar
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
    link(rel="stylesheet", href="/navbar.css")
  body
    header
      .container
        nav.navbar
          .logo
            i.fas.fa-car
            | Velocity Rentals
          .nav-links
            a(href="#top") Home
            a(href="#features") Features
            a(href="#reviews") Reviews
            a(href="#contact") Contact
          .auth-buttons
            a.btn.btn-outline(href="#") Login
            a.btn.btn-primary(href="#") Sign Up
